@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePass";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-contacts">
            <div>
                <h1> نمایه </h1>
                <p class="breadcrumbs">
                    <span><a href="#">پنل</a></span> <span>
                        <i class="mdi mdi-chevron-left"></i>
                    </span>تغییر رمز عبور
                </p>
            </div>
        </div>
        <div class="card bg-white profile-content ec-vendor-profile">
            <div class="row">
                <div class="col-lg-10 col-xl-11">
                    <div class="tab-pane">
                        <div class="tab-pane-content mt-5">
                            <form asp-controller="User" asp-action="ChangePassword" method="post">
                                <div class="form-group mb-4">
                                    <div class="form-group">
                                        <label for="firstName">رمز عبور قدیمی</label>
                                        <input asp-for="@Model.oldPassword" type="password" class="form-control">
                                        <span asp-validation-for="oldPassword" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <div class="form-group">
                                        <label for="lastName">رمز عبور جدید</label>
                                        <input asp-for="@Model.newPassword" type="password" class="form-control">
                                        <span asp-validation-for="newPassword" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label>تکرار رمز عبور جدید</label>
                                    <input asp-for="@Model.confirmNewPassword" type="password" class="form-control">
                                    <span asp-validation-for="confirmNewPassword" style="color:red"></span>
                                </div>
                                <div class="text-danger" style="color:red" asp-validation-summary="ModelOnly"></div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit"
                                            class="btn btn-primary btn-pill">
                                        به روز رسانی
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
