@model List<SoldPerProductViewModel>
@{
    ViewData["Title"] = "SoldPerProduct";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-wrapper-2">
            <h1> تاریخچه فروش محصولات</h1>
            <p class="breadcrumbs">
                <span><a href="index.html">پنل</a></span> <span>
                    <i class="mdi mdi-chevron-left"></i>
                </span>تاریخچه
            </p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="responsive-data-table" class="table" style="width:100%">
                                <thead>

                                    <tr>
                                        <th>شناسه محصول</th>
                                        <th>عکس محصول</th>
                                        <th>نام محصول</th>
                                        <th>تعداد</th>
                                        <th>وضعیت</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var row in Model)
                                    {
                                        <tr>
                                            <td>@row.productId</td>
                                            <td><img class="tbl-thumb" src="~/assets/images/product-image/@(row.productImg)" /></td>
                                            <td>@row.productName</td>
                                            <td>
                                                @row.soldNumber
                                            </td>
                                            @if(row.productStatus == true)
                                            {
                                                <td>حذف شده</td>
                                            }
                                            else
                                            {
                                                <td>موجود</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
