
@{
    ViewData["Title"] = "پنل کاربری";
}

<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p shop_page">
    <div class="container">
        <div class="row">
            @{
                Html.RenderPartial("_buyerSidbarPanel");
            }
        </div>
    </div>
</section>
