
@{
    ViewData["Title"] = "درباره ما";
}
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">درباره ما</h2>
                    <h2 class="ec-title">درباره ما</h2>
                    <p class="sub-title mb-3">درباره شرکت کسب و کار ما</p>
                </div>
            </div>
            <div class="ec-common-wrapper">
                <div class="row">
                    <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                        <div class="ec-cms-block-inner">
                            <img class="a-img" src="~/assets/images/banner/20.jpg" alt="about">
                        </div>
                    </div>
                    <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">کراپشاپ چیست?</h3>
                            <p>
                                تایپ الکترونیکی متن صنعت چاپ و تایپ کردن.هنگامی که یک چاپگر ناشناس یک نوع را گرفت
                                و آن را به عنوان یک کتاب نوع نمونه ای تقسیم کرد.لورم ایپسوم است
                                به سادگی متن از دهه 1500، آن را نه تنها جان سالم به در برده است،
                                اما همچنین جهش به تایپ الکترونیکی.
                            </p>
                            <p>، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                            <p> برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

