@{
    ViewData["Title"] = "صفحه اصلی";
}
@if(ViewData["Message"]!=null)
{
    <h6 style="text-align:center;color:green">محصول به سبد خرید شما اضافه شد</h6>
}
@await Component.InvokeAsync("ShowProductByGroupComponent",Model)